export DAG_HOME="$PWD"
export KUBECONFIG="$PWD/.kube/config"
export GITEA_DOMAIN="gitea-127.0.0.1.sslip.io"
export GITEA_URL="http://${GITEA_DOMAIN}:30950"
export GITEA_INCLUSTER_URL="http://gitea-http.default.svc.cluster.local:3000"
export DRONE_SERVER_HOST="drone-127.0.0.1.sslip.io:30980"
export DRONE_SERVER_URL="http://${DRONE_SERVER_HOST}"
export ARGOCD_SERVER_HOST="argocd-127.0.0.1.sslip.io:30080"
export ARGOCD_SERVER_URL="http://${ARGOCD_SERVER_HOST}"
export ARGO_ADMIN_PASSWORD=demo@123