export PROJECT_HOME="$PWD"
export GITEA_DOMAIN="gitea-127.0.0.1.sslip.io"
export GITEA_URL="http://${GITEA_DOMAIN}:3000"
export DRONE_SERVER_HOST="drone-127.0.0.1.sslip.io:8080"
export DRONE_SERVER_URL="http://${DRONE_SERVER_HOST}"
export ARGOCD_SERVER_HOST="argocd-127.0.0.1.sslip.io:9090"
export ARGOCD_SERVER_URL="http://${ARGOCD_SERVER_HOST}"
export ARGO_ADMIN_PASSWORD=demo@123
export KO_DOCKER_REPO=localhost:5001
export KO_CONFIG_PATH="$PROJECT_HOME"