export DAG_HOME="$PWD"
export KUBECONFIG="$PWD/.kube/config"
export GITEA_DOMAIN="gitea-127.0.0.1.sslip.io"
export GITEA_URL="http://${GITEA_DOMAIN}:30950"
export GITEA_INCLUSTER_URL="http://gitea-http.default.svc.cluster.local:30950"
export DRONE_SERVER_HOST="drone-127.0.0.1.sslip.io:30980"
export DRONE_SERVER_URL="http://${DRONE_SERVER_HOST}"
export ARGOCD_SERVER_HOST="argocd-127.0.0.1.sslip.io:30080"
export ARGOCD_SERVER_URL="http://${ARGOCD_SERVER_HOST}"
export ARGO_ADMIN_PASSWORD=demo@123
export REGISTRY_NAME=k3d-myregistry.localhost
export REGISTRY_PORT=5001
export DAG_TARGET_VERSION=k3s

export GITEA_USER=user-01
export GITEA_DAG_REPO="${GITEA_URL}/${GITEA_USER}/dag.git"
export GITEA_DAG_REPO_INTERNAL="${GITEA_INTERNAL_URL}/${GITEA_USER}/dag.git"

export DRONE_SERVER="${DRONE_SERVER_URL}"
export DRONE_TOKEN=Bn5Lu8jpEDBHNhmZPA5yEQE4iKD8DHZM
export ENABLE_DRONE_ADMIN=true
export ENABLE_ARTIFACTORY=true